.projectCont  {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin: 4rem auto;

    text-align: left;
}

.projectButtonOne, .projectButtonTwo,  .projectButtonThree, .projectButtonFour, .projectButtonFive, .projectButtonSix {
    font-size: 5rem;
    font-weight: bolder;
    text-align: right;
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
    color: black;
    transition: background-image 0.3s ease;
    
}

.projectButtonOne:hover {
  background-image: url('Images/Homepage/siopa1.jpg');
  background-size: cover;
  background-position: center;
  color: white; 
  cursor: crosshair;
}

.projectButtonTwo:hover {
  background-image: url('/Images/IXUX/device1.png');
  background-size: cover;
  background-position: center;
  color: white; 
  cursor: crosshair;
}
.projectButtonThree:hover {
  background-image: url('/Images/Project One/UNPhones2.png');
  background-size: cover;
  background-position: center;
  color: white; 
  cursor: crosshair;
}

.projectButtonFour:hover {
  background-image: url('/Placeholders/project2placeholder.png');
  background-size: cover;
  background-position: center;
  color: white; 
  cursor: crosshair;
}

.projectButtonFive:hover {
  background-image: url('/Images/Videography/VideographyHero.jpg');
  background-size: cover;
  background-position: center;
  cursor: crosshair;
  color: white; 
}

.projectButtonSix:hover {
  background-image: url('/Images/GraphicDesign/gd1.JPEG');
  background-size: cover;
  background-position: center;
  color: white; 
  cursor: crosshair;
}

.projectCont h4{
  font-size: 1.85rem;
}